<div class="my-3 p-3 bg-white rounded box-shadow">
    <h6 class="border-bottom pb-2 mb-0">{{ header|default:"Categories" }}</h6>
    {% for category in categories %}
        <div class="media text-muted pt-3">
            <div class="media-body mb-0 small lh-125 {% if not forloop.last %}pb-3 border-bottom{% endif %}">
                <div>
                    <a class="font-weight-bold" href="{% url 'category_detail' category.id %}">
                        {{ category.name }}
                    </a>
                </div>
                <div>
                    {% if category.category_set.count %}
                        subcategories:
                        {% for subcategory in category.category_set.all %}
                            <span class="comma-separated-item"><a
                                    href="{% url 'category_detail' subcategory.id %}">{{ subcategory.name }}</a></span>
                        {% endfor %}
                        <br>
                    {% endif %}
                    {{ category.thread_set.count }} thread{{ category.thread_set.count|pluralize }}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
