{% extends 'app/base.html' %}

{% block content %}

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="mb-3 pb-2 border-bottom">New thread</h6>
        <form method="post">
            {% csrf_token %}
            {% include 'app/parts/form.html' with form=thread_form %}
            {% include 'app/parts/form.html' with form=post_form %}
            <button type="submit" class="btn btn-primary d-block ml-auto">Create thread</button>
        </form>
    </div>


{% endblock %}
