{% extends 'app/base.html' %}

{% block content %}

    {% include 'app/parts/thread_header.html' with thread=post.thread only %}

    {% for post in thread.post_set.all %}
        <div class="my-3 p-3 bg-white rounded box-shadow">
            <div class="media text-muted border-bottom">
                <div class="d-flex align-items-center justify-content-center mr-2 rounded bg-secondary p-1 text-white"
                     style="width: 32px; height: 32px;">
                    <i class="fas fa-user fa-lg align-center"></i>
                </div>
                <p class="media-body pb-3 mb-0 small lh-125">
                    {% if post.author.username %}
                        <a href="{% url 'user_detail' post.author.username %}">
                            <strong>@{{ post.author.username }}</strong>
                        </a>
                    {% else %}
                        <strong><strike>deleted</strike></strong>
                    {% endif %}
                    <span class="d-block">{{ post.created_at }}</span>
                </p>
                {% if request.user.id == post.author_id %}
                    <div class="dropdown" style="margin-right: -0.5rem">
                    <span class="btn btn-link text-muted" id="dropdownMenuButton"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v"></i>
                    </span>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{% url 'post_edit' post.id %}">Edit</a>
                            {% if not post.is_original_post %}
                                <a class="dropdown-item" href="{% url 'post_delete' post.id %}">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="mt-2">
                {{ post.text }}
            </div>
        </div>
    {% endfor %}

    {% if request.user.is_authenticated %}
        <div class="my-3 p-3 bg-white rounded box-shadow">
            <h6 class="pb-2 mb-0">Reply</h6>
            <form method="post" class="d-flex">
                {% csrf_token %}
                <textarea class="form-control" id="reply-text" rows="3" minlength="1" required
                          name="{{ reply_form.text.html_name }}"></textarea>
                <button type="submit" class="btn btn-primary d-block ml-2">Send</button>
            </form>
            {{ reply_form.non_field_errors }}
            {{ reply_form.text.errors }}
        </div>
    {% endif %}

{% endblock %}
