<div class="my-3 p-3 bg-white rounded box-shadow">
    <h6 class="border-bottom border-gray pb-2 mb-0">{{ header|default:"Threads" }}</h6>
    {% for thread in threads %}
        <div class="media text-muted pt-3">
            <i class="far fa-comments mr-2" style="width: 32px; height: 32px"></i>
            <dvi class="media-body mb-0 small lh-125 {% if not forloop.last %}pb-3 border-bottom border-gray{% endif %}">
                <div>
                    <a class="font-weight-bold" href="{% url 'thread_detail' thread.id %}">
                        {{ thread.title }}
                    </a>
                </div>
                <div>
                    author:
                    {% if thread.original_author %}
                        <a href="{% url 'user_detail' thread.original_author.username %}">@{{ thread.original_author.username }}</a>
                    {% else %}
                        <strike>deleted</strike>
                    {% endif %}
                    » {{ thread.created_at }}
                </div>
            </dvi>
        </div>
    {% endfor %}
</div>
