{% extends 'app/base.html' %}

{% block content %}

    {% include 'app/parts/thread_header.html' with thread=post.thread only %}

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h5 class="mb-3 pb-2 border-bottom">Delete post?</h5>
        <div class="media text-muted border-bottom">
            <div class="d-flex align-items-center justify-content-center mr-2 rounded bg-secondary p-1 text-white"
                 style="width: 32px; height: 32px;">
                <i class="fas fa-user fa-lg align-center"></i>
            </div>
            <p class="media-body pb-3 mb-0 small lh-125">
                <a href="{% url 'user_detail' post.author.username %}">
                    <strong>@{{ post.author.username }}</strong>
                </a>
                <span class="d-block">{{ post.created_at }}</span>
            </p>
        </div>
        <div class="mt-2">
            {{ post.text }}
        </div>
        <form method="post" class="border-top mt-2 pt-2">
            {% csrf_token %}
            <button type="submit" name="confirm_delete" class="btn btn-danger d-block ml-auto">Delete</button>
        </form>
    </div>


{% endblock %}
