{% extends 'app/base.html' %}

{% block content %}

    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-dark rounded box-shadow">
        <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">{{ post.thread.title }}</h6>
            <small>Since 2011</small>
        </div>
    </div>

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="mb-3">Edit post</h6>
        <form method="post">
            {% csrf_token %}
            {% include 'app/parts/form.html' with form=post_form without_labels=True %}
            <button type="submit" class="btn btn-primary d-block ml-auto">Save</button>
        </form>
    </div>


{% endblock %}
