{% extends 'app/base.html' %}

{% block content %}

    {% include 'app/parts/thread_header.html' with thread=post.thread only %}

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="mb-3">Edit post</h6>
        <form method="post">
            {% csrf_token %}
            {% include 'app/parts/form.html' with form=post_form without_labels=True %}
            <button type="submit" class="btn btn-primary d-block ml-auto">Save</button>
        </form>
    </div>


{% endblock %}
