{% extends "app/base.html" %}

{% load widget_tweaks %}

{% block content %}

    <div style="max-width: 350px; width: 100%" class="mx-auto my-3 p-3 bg-white rounded box-shadow">

        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                Your username and password didn't match. Please try again.
            </div>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
                <p>Your account doesn't have access to this page. To proceed,
                    please login with an account that has access.</p>
            {% else %}
                <p>Please login to see this page.</p>
            {% endif %}
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {% render_field form.username class="form-control mb-2" placeholder="Username" %}
            {% render_field form.password class="form-control mb-2" placeholder="Password" %}
            <input class="btn btn-primary btn-block mb-2" type="submit" value="Sign in">
            <input type="hidden" name="next" value="{{ next }}"/>
            <a href="{% url 'register' %}">Create a new account</a>
        </form>

    </div>

{% endblock %}