{% extends 'app/base.html' %}

{% block content %}

    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-dark rounded box-shadow">
        <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">Welcome to SimpleBoard</h6>
            <small>
                We currently have {{ total_threads }} thread{{ total_threads|pluralize }}
                and {{ total_post }} post{{ total_post|pluralize }}
                created by {{ total_users }} user{{ total_users|pluralize }}
            </small>
        </div>
    </div>

    <div class="my-3 p-3 rounded box-shadow alert alert-primary">
        <h6 class="mb-3">Sign up to create a new thread or reply in an existing one</h6>
        <a class="btn btn-primary btn-sm ml-auto" href="{% url 'register' %}">Sign up</a>
    </div>

    {% include 'app/parts/new_thread_button.html' %}

    {% if category.category_set.count == 0 and category.thread_set.count == 0 %}
        <div class="my-3 p-3 bg-white rounded box-shadow">
            <h6 class="my-1">No threads or subcategories</h6>
        </div>
    {% endif %}

    {% if categories %}
        {% include 'app/parts/category_list.html' with header='Categories' categories=categories only %}
    {% endif %}

    {% if threads %}
        {% include 'app/parts/thread_list.html' with header='Uncategorized threads' threads=threads only %}
    {% endif %}

    {% include 'app/parts/new_thread_button.html' %}

{% endblock %}
